***ASSIGNMENT 1***

In [ ]:
import pandas as pd

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series = pd.Series(data_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

***ASSIGNMENT 2***

In [ ]:
import pandas as pd

given_list = [20, 40, 50, 60, 70, 80, 90]

series = pd.Series([given_list[i] for i in range(len(given_list)) if i % 2 != 0])

print(series)

0    40
1    60
2    80
dtype: int64

***ASSIGNMENT 3***

In [ ]:
import pandas as pd

data = {'name': ['Vinay', 'Kushal', 'Aman'],
        'age' : [22, 25, 24],
        'occ' : ['engineer', 'doctor', 'accountant']}

df = pd.DataFrame(data)

print(df.to_string())

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

***ASSIGNMENT 4***

In [ ]:
import pandas as pd

data_list = [[2, 'Vishal', 22], [1, 'Kushal', 25], [1, 'Aman', 24]]

df = pd.DataFrame(data_list, columns=['id', 'name', 'age'])  # Specify column names

print(df.to_string())

   id    name  age
0   2  Vishal   22
1   1  Kushal   25
2   1    Aman   24

***ASSIGNMENT 5***

In [ ]:
import pandas as pd

data = {'id': [2, 1, 1], 'name': ['Vinay', 'Kushal', 'Aman'], 'age': [22, 25, 24], 'occ': ['engineer', 'doctor', 'accountant']}

df = pd.DataFrame(data)

selected_column = df['name']
print(selected_column)

0     Vinay
1    Kushal
2      Aman
Name: name, dtype: object

***ASSIGNMENT 6***

In [ ]:
import pandas as pd

data = {'id': [2, 1, 3, 4, 5, 6], 'name': ['Vinay', 'Kushal', 'Aman', 'Arun', 'Akhil', 'Arya'],
        'age': [22, 25, 24, 25, 26, 27], 'occ': ['engineer', 'doctor', 'accountant', 'teacher', 'lawyer', 'doctor']}

df = pd.DataFrame(data)

first_two_rows = df.head(2)

print(first_two_rows)

   id    name  age       occ
0   2   Vinay   22  engineer
1   1  Kushal   25    doctor

***ASSIGNMENT 7***

In [5]:
import pandas as pd

imdb_data = pd.read_csv('IMDB Dataset.csv')

imdb_data

print(imdb_data.head(10))  # Display the first 10 rows

print()

print(imdb_data.info())  # Print data types and non-null counts

print()

print("Shape of the DataFrame:", imdb_data.shape)  # Get dimensions (rows, columns)

print()

print("Columns:", list(imdb_data.columns))  # List column names

print()

print("Descriptive Statistics:\n", imdb_data.describe())  # Get summary statistics (mean, std, etc.)
                                                            # for numerical columns

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB
None

Shape of the DataFrame: (50000, 2)

Columns: ['review', 'sentiment']

Descriptive Statistics:
                                                    review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000